@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'marcial';
  src: url('../fonts/OptimusPrinceps.ttf') format('truetype');
}

:root {
  --fonteprincipal: 'marcial', sans-serif;
  --fontesecundaria: 'Rubik', sans-serif;
}

html, body {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.delimitador {
  width: 90vw;
  margin: auto;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header h1 {
  padding: 20px 0px;
  font-family: var(--fonteprincipal);
}

#burguer {
  width: 100%;
  padding: 10px 0px;
  font-size: 2em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
}

#burguer:hover {
  background-color: rgb(41, 41, 41);
  transition-duration: .3s;
}

#burguer:active {
  background-color: rgb(69, 69, 69);
  transition-duration: .1s;
}

#items {
  display: none;
}

header ul {
  list-style-type: none;
}

header a {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 10px 0px;
}

header a:hover {
  background-color: rgb(41, 41, 41);
  transition-duration: .5s;
}

header a:active {
  background-color: rgb(69, 69, 69);
  transition-duration: .1s;
}

main {
  background-color: white;
  text-align: center;
  padding: 20px 0px;
}

main iframe {
  box-shadow: 0px 0px 3px rgb(200, 200, 200);
  width: 80%;
  height: 200px;
  background-color: black;
}

#div-mod > h2 {
  margin: 20px 0px;
  text-transform: uppercase;
  font: normal 700 1.8em var(--fontesecundaria);
}

#mod {
  width: 70%;
  list-style-type: none;
  margin: auto;
  margin-top: 20px;
  display: flex;
  padding: 15px 0px;
}

#mod li img {
  height: 30px;
}

.branco {
  display: none;
  margin: auto;
  height: 25px;
  padding-top: 5px;
}

#mod li h2 {
  font-size: 1em;
  font-family: var(--fontesecundaria);
  font-weight: 500;
}

#mod li {
  margin-right: 5px;
  width: 33%;
}

#mod li a {
  text-decoration: none;
  color: black;
}

#mod li:hover {
  background-color: black;
  transition-duration: .3s;
  border-radius: 50px;
}

#mod li:hover h2 {
  color: white;
  font-size: .7em;
}

#mod li:hover .preto {
  display: none;
}

#mod li:hover .branco {
  display: block;
}

#modalidades > hr {
  margin: 20px auto 0px auto;
  width: 80%;
}

.textoluta {
  box-sizing: border-box;
  text-align: justify;
  font-size: 1em;
  text-indent: 15px;
  width: 80%;
  margin: auto;
  color: black;
  padding: 20px 0px;
}

#textokravmaga {
  display: none;
}

#textokungfu {
  display: none;
}

#textomuaythai {
  display: none;
}

#contato {
  display: block;
  margin: 50px auto;
  margin-top: 100px;
  padding: 20px 0px;
  width: 80%;
}

#contato > h2, #formulario > h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

#contato > h2 {
  font: normal 700 1.8em var(--fontesecundaria);
}

#formulario {
  width: 80%;
  height: 450px;
  margin: auto;
}

#formulario > h2 {
  font: normal 700 1.3em var(--fontesecundaria);
}

form {
  height: 90%;
  width: 100%;
}

form input {
  width: 100%;
  height: 35px;
  margin-bottom: 3px;
  padding: 5px;
  box-sizing: border-box;
}

form textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

input[type='submit'] {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  height: 40px;
  font: normal 500 .9em var(--fontesecundaria);
}

input[type='submit']:hover {
  background-color: rgb(41, 41, 41);
  transition-duration: .3s;
}

input[type='submit']:active {
  background-color: black;
  transition-duration: .1s;
}

input[type='reset'] {
  background-color: rgb(41, 41, 41);
  color: white;
  border: none;
  cursor: pointer;
  height: 40px;
  font: normal 500 .9em var(--fontesecundaria);
}

input[type='reset']:hover {
  background-color: rgb(69, 69, 69);
  transition-duration: .3s;
}

input[type='reset']:active {
  background-color: black;
  transition-duration: .1s;
}

#saiba-mais {
  margin: auto;
  margin-top: 50px;
  width: 80%;
}

#redes-sociais > h2 {
  text-transform: uppercase;
  font: normal 700 1.3em var(--fontesecundaria);
}

#redes-sociais ul {
  margin: auto;
  margin-top: 10px;
  width: 250px;
}

#redes-sociais li {
  display: inline;
  margin: 10px;
}

#redes-sociais img {
  height: 30px;
}

#endereco {
  margin-top: 50px;
}

#endereco > h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font: normal 700 1.3em var(--fontesecundaria);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0px;
}

#telas-grandes {
  display: none;
}

#div-mod2 {
  display: none;
}